h1, h2, p { margin: 0; }

body {
  background-color: #111;
  color: #eee;
  font-family: 'Noto Serif', serif;
}

.flex-container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid white;
  padding: 10px;

  min-width: 25vw;
  max-width: 300px;
  min-height: 40vh;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: oblique;
}

a {
  color: cadetblue;
}

.links-container {
  margin-top: 10px;
}

.img-container {
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
}

.img-container img {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
  width: 30px;
}

.download-links-container {
  margin-top: 1em;
}

.download-links-container ul {
  padding: 0;
  list-style: none;
}

.download-links-container li:before {
  content: '\2B07';
  margin-right: 10px;
}

.download-links-container li {
  margin-bottom: 0.5rem;
}
