h1, h2, p { margin: 0; }

body {
  background-color: #111;
  color: #eee;
  font-family: 'Noto Serif', serif;
}

.flex-container {
  padding: 10px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid white;
  padding: 10px;

  min-width: 25vw;
  min-height: 40vh;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: oblique;
}

.links-container {
  margin-top: 10px;
}

.img-container {
  display: flex;
  margin-top: 5px;
}

.img-container img {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
}